RewriteEngine on
RewriteRule ^Home/?$ index.php [NC,L]
RewriteRule ^PropertyList/?$ property_listing.php [NC,L]
RewriteRule ^PropertyList/([a-zA-z0-9\-]+)?$ property_listing.php?city=$1 [NC,L]
RewriteRule ^PropertyList/([a-zA-z0-9\-]+)/([a-zA-z0-9\-\s|%20]+)?$ property_listing.php?city=$1&category=$2 [NC,L]
RewriteRule ^PropertyList/([a-zA-z0-9\-]+)/([a-zA-z0-9\-\s|%20]+)?$ property_listing.php?city=$1&category=$2 [NC,L]
RewriteRule ^PropertyList/([a-zA-z0-9\-]+)/([a-zA-z0-9\-\s|%20]+)/([a-zA-z0-9\-\s|%20]+)?$ property_listing.php?city=$1&category=$2&price=$3 [NC,L]
RewriteRule ^PropertyList/([a-zA-z0-9\-]+)/([a-zA-z0-9\-\s|%20]+)/([a-zA-z0-9\-\s|%20]+)/([a-zA-z0-9\-\s|%20]+)?$ property_listing.php?city=$1&category=$2&price=$3&propertyType=$4 [NC,L]
RewriteRule ^PropertyList/([a-zA-z0-9\-]+)/([a-zA-z0-9\-\s|%20]+)/([a-zA-z0-9\-\s|%20]+)/([a-zA-z0-9\-\s|%20]+)/([a-zA-z0-9/\-\s|%20]+)?$ property_listing.php?city=$1&category=$2&price=$3&propertyType=$4&subProperty=$5 [NC,L]
RewriteRule ^Property/([a-zA-z0-9,/\-\s|%20]+)/([0-9]+)?$ mainlisting_details.php?$1&id=$2 [NC,L]
RewriteRule ^Post/?$ addpost.php [NC,L]
RewriteRule ^EditMyAds/([0-9]+)?$ edit_my_ads.php?id=$1 [NC,L]
RewriteRule ^EditMyEnquiry/([0-9]+)?$ edit_my_ads_replies.php?id=$1 [NC,L]
RewriteRule ^SignUp/?$ user_reg.php [NC,L]
RewriteRule ^Authentication/?$ userlogin.php [NC,L]
RewriteRule ^Dashboard/?$ dashboard.php [NC,L]
RewriteRule ^MyAds/?$ my_ads.php [NC,L]
RewriteRule ^MyEnquiries/?$ my_ads_replies.php [NC,L]
RewriteRule ^MyProfile/?$ update_user_profile.php [NC,L]
RewriteRule ^About/?$ aboutus.php [NC,L]
RewriteRule ^Contact/?$ contact_us.php [NC,L]
RewriteRule ^AdvertiseWithUs/?$ advertisewithus.php [NC,L]
RewriteRule ^PrivacyPolicy/?$ privacy_policy.php [NC,L]
RewriteRule ^TermsOfUse/?$ termsofuse.php [NC,L]
RewriteRule ^SiteMap/?$ sitemap.xml [NC,L]